.page-switch{
  width: 211px;
  height: 40px;
  margin: 20px auto;
  padding: 4px;
  background-color: var(--comp-bg-color);
  display: flex;
  gap: 8px;
}

.page-switch button{
  background-color: var(--comp-bg-color);
  border: none;
  outline: none;
  font-family: inherit;
  width: 96px;
  height: 32px;
  color: var(--text-color);
  cursor: pointer;
}

.page-switch .active{
  background-color: var(--footer-text-color);
}

.general-stats{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
}

.general-stats .stat{
  width: 31.5%;
  height: 172px;
  background-color: var(--comp-bg-color);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--border-color);
}

.general-stats .stat p{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.general-stats .stat h1{
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
.general-stats .stat small{
  font-size: 16px;
  font-weight: 500;
  color: var(--small-text-color);
}

.view{
  width: 237px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 24px max(0px, calc((100vw - 1200px) / 2));
  font-size: 16px;
  font-weight: 500;
}

.tabSwitch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.tabSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--comp-bg-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--footer-text-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

@media (max-width: 768px) {
  .general-stats{
    flex-direction: column;
    padding: 0 12px;
    max-width: 100%;
  }
  .general-stats .stat{
    width: 100%;
  }
  .stats{
    padding: 0 12px;
  }
}