.sidebar {
    position: absolute;
    top: -112px;
    left: 1235px;
    width: 325px;
}

.sidebar h4{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.recPeople,
.recCommunities {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--comp-bg-color);
    border: 2px solid var(--border-color);
    padding: 24px;
    margin-bottom: 10px;
}

.person,
.community {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding: 12px 0;
}

.sidebar .avatar {
    border-radius: 50%;
    object-fit: cover;
}

.personalInfo,
.communityInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    line-height: 1.5;
}

.personalInfo p,
.communityInfo p {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
}

.personalInfo small,
.communityInfo small {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 400;
    color: var(--small-text-color);
}