.statsChart{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.chartBlock h3{
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.chartBlock>div{
    background-color: var(--comp-bg-color);
    border: 1px solid var(--border-color);
    margin-top: 24px;
    padding: 24px 0;
}

.statsChart svg path{
    fill: var(--chart-color) !important;
}

@media (max-width: 768px) {
    .statsChart{
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
    .statsChart .chartBlock {
        width: 100%;
        margin-bottom: 12px;
    }
    .statsChart .chartBlock ResponsiveContainer{
        width: 100%;
    }
}